<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="Mytestsuite">  
  <test name="QATESTS">  
    <classes>  
      <class name="com.qa.test.RegisterTest"/>  
      <class name="com.qa.test.SigninTest"/>  
      <class name="com.qa.test.MorePageTest"/>
      <class name="com.qa.test.InteractionsTest"/>
      <class name="com.qa.test.SwitchToPageTest"/>
      <class name="com.qa.test.WidgetsTest"/>
    </classes>  
  </test> 
</suite> 